html {
  min-width: 320px;
  overflow-anchor: none;
  scroll-behavior: smooth;
  font-size: 16px;
  line-height: 1.2;
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
}

a,
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  transition-property: color, opacity, background-color, border-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}
a:disabled,
button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

a:hover,
button:hover {
  opacity: 0.6;
}
a:active,
button:active {
  opacity: 0.3;
}

a {
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

input,
textarea {
  box-sizing: border-box;
  -webkit-text-fill-color: currentColor;
  box-shadow: none;
}
input:disabled,
textarea:disabled {
  opacity: 0.3;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.3;
}
input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: 0.3;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration {
  display: none;
}
input:-webkit-autofill {
  box-shadow: none;
}

img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

svg {
  fill: currentColor;
}

:focus {
  outline: 2px solid;
  outline-offset: 2px;
}
@supports selector(:focus-visible) {
  :focus {
    outline: none;
  }
}

:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
}
:focus-visible:active {
  outline: none;
}